/* color palatte
blue: hsl(236, 92%, 29%), #060f8e
navy: hsl(217, 61%, 10%), #0a1629
light blue: hsl(185, 82%, 71%) #78e8f2
green: hsl(61, 86%, 62%) #eff14b
pink: hsl(318, 91%, 72%) #f977d2
*/

html {
  scroll-behavior: smooth;
  background-color: hsl(217, 61%, 10%); 
  font-family: Verdana, sans-serif;
  color: hsl(0, 0%, 100%);
  max-width: 750px;
  margin: auto;
}


h1, h2 {
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: hsl(318, 91%, 72%);
  text-decoration-thickness: 0.3rem;
}

strong {
  color: hsl(186, 82%, 71%);
}

a:link, a:visited {
  color: hsl(318, 91%, 72%);
}

a:hover {
  text-decoration: none;
}

a.remote::after {
  display: inline-block; /* Needed to add space between the bullet and the text */
  content: "↗️";
  margin-left: 0.1rem;
}

/*https://www.w3schools.com/howto/howto_css_bullet_color.asp*/
ul {
  list-style-type: none;
}

li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: hsl(186, 82%, 71%); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1rem; /* Also needed for space (tweak if needed) */
}


img {
  display: block;
  margin: auto;
  max-width: 90%;
  border-style: solid;
  border-width: 10px;
  border-color: hsl(0, 0%, 75%);
}

/*image captions.*/
img + p {
  text-align: center;
}

code {
  overflow-wrap: break-word;
  padding: 0.3em;
  background: hsl(0, 0%, 0%); 
  border-radius: 5px;
}

pre code {
  display: block;
  width: 90%;
  margin: auto;
  white-space: pre-wrap;
  padding: 1em;
  background: hsl(0, 0%, 0%); 
  border-style: solid;
  border-width: 5px;
  border-color: hsl(0, 0%, 100%);
  border-radius: 25px;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex: 1 auto; 
}

.quote-wall {
  align-self: center;
}

.blockquote {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  max-width: 35rem;
}

.quote {
  align-self: flex-start;
  display: block;
}

.author {
  align-self: flex-end;
  display: block;
  color: hsl(186, 82%, 71%);
}

.quote::before {
  content: "\201C";
}

.quote::after {
  content: "\201D";
}

.author::before {
  content: "~";
}

nav {
  margin: auto;
  width: fit-content;
  text-align: center;
}

nav ul {
  padding: 0rem;
  border: 3px solid hsl(318, 81%, 72%);
  border-radius: 10px;
  list-style: none;
  display: flex;
  justify-content: center;

}

nav li {
  padding: 0.1rem 0.35rem;
  margin: 0.5rem 0;
  text-align: center;
}

nav li:not(:last-child) {
  border-right: 3px solid hsl(318, 81%, 72%);
}

/*clear custom bullet*/
nav li::before {
  content: "";
}

nav a:link, nav a:visited {
  text-align: center;
  text-decoration: none;
  color: hsl(0,0%, 100%);
}

nav a:hover {
  text-decoration: underline;

}

.directory {
  text-align: center;
  width: fit-content;
  margin:auto;
  border-radius: 10px;
  border: 3px solid hsl(318, 81%, 62%);
  overflow: hidden;
}

.directory ul {
  list-style: none;
  margin: 0; 
  padding: 0rem;
}

.directory li:hover {
  background-color: hsl(318, 76%, 62%);
}

.directory li {
  background-color: hsl(318, 91%, 72%);
  display: flex;
  justify-content: center;
}

.directory li:not(:last-child) {
  border-bottom: 2px solid hsl(318, 76%, 62%);
}

.directory li a {
  margin: 0;
  padding: 0.75rem 5rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

/*clear custom bullet*/
.directory li::before {
  content: "";
}
